{{ section.settings.posts-range }}

{% assign blog = section.settings.new-blog %}

  {% unless blog.articles_count == 0 %}

  {% comment %} Display articles based on range {% endcomment %}

  {% for article in blog.articles %}
    <a href="{{ article.url }}">
      <img src="{{ article.image | img_url: '500x' }}" />
      {{ article.title }}
    </a>
  {% endfor %}

{% endunless %}

{% schema %}
  {
    "name": "New Blog Posts",
    "settings": [
      {
        "id": "posts-range",
        "type": "range",
        "label": "Range",
        "min": 3,
        "max": 12,
        "step": 3,
        "default": 3
      }, {
        "id": "new-blog",
        "type": "blog",
        "label": "Blog"
      }
    ],
    "templates": [
      "index", "page", "product"
    ],
    "presets": [
      {
        "name": "New Blog Posts",
        "category": "Posts"
      }
    ]
  }
{% endschema %}