<div>
  <h2>{{ section.settings.text-box }}</h2>

  <a href="{{ section.settings.link }}">
    {{ section.settings.linktext }}
  </a>
</div>

{% schema %}
  {
    "name": "Call to action",
    "settings": [
      {
        "id": "text-box",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      }, {
        "id": "link",
        "type": "url",
        "label": "Link URL"
      }, {
        "id": "linktext",
        "type": "text",
        "label": "Link text",
        "default": "Click here"
      }
    ],
    "presets": [
      {
        "name": "Call to Action",
        "category": "Promotional"
      }
    ]
  }
{% endschema %}