<h1>Text</h1>
<h2>{{ section.settings.liquid-ref }}</h2>

<h1>Checkbox</h1>
{% if section.settings.liquid-checkbox == true %}
  <h2>Checkbox is Checked</h2>
{% else %}
  <h2>Checkbox is NOT Checked</h2>
{% endif %}

<h1>Number</h1>
{% if section.settings.liquid-number > 0 %}
  {{ section.settings.liquid-number }}
{% endif %}

<h1>Radio</h1>
{% if section.settings.liquid-radio == "option-1" %}
Option 1 Selected
{% elsif section.settings.liquid-radio == "option-2" %}
Option 2 Selected
{% else %}
Option 3 Selected
{% endif %}

<h1>Range</h1>

<h1>Select</h1>

<h1>Text Area</h1>

{% schema %}
  {
    "name": "Section name",
    "settings": [{
      "id":"liquid-ref",
      "type": "text",
      "label":"A Reference for Shopify Liquid"
    },
    {
      "id":"liquid-checkbox",
      "type": "checkbox",
      "label":"A Checkbox in Liquid"
    },
    {
      "id":"liquid-number",
      "type": "number",
      "label":"Add a Number"
    },
    {
      "id":"liquid-radio",
      "type": "radio",
      "label":"Add a radio button",
      "options":[
      {
        "value": "option-1" ,
        "label": "Option-1"
      },
      {
        "value": "option-2" ,
        "label": "Option-2"
      },
      {
        "value": "option-3" ,
        "label": "Option-3"
      }
    ]
    }],
    "templates": ["index", "page","product"],
    "presets":[
      {
        "name":"Liquid Refernece",
        "category":"Reference"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}