<h1>This Works</h1>

{% schema %}
  {
    "name": "Section name",
    "settings": [{
      "id":"liquid-ref",
      "type": "text",
      "label":"A Reference for Shopify Liquid"
    }],
    "templates": ["index", "page","product"],
    "presets":[
      {
        "name":"Liquid Refernece",
        "category":"Reference"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}