<h1>{{ section.settings.liquid-ref }}</h1>

{% if section.settings.liquid-checkbox == true %}
  <h2>Checkbox is Checked</h2>
{% else %}
  <h2>Checkbox is NOT Checked</h2>
{% endif %}

{% if section.settings.liquid-number >= 0 %}
  {{ section.settings.liquid-number }}
{% endif %}

{% schema %}
  {
    "name": "Section name",
    "settings": [{
      "id":"liquid-ref",
      "type": "text",
      "label":"A Reference for Shopify Liquid"
    },
    {
      "id":"liquid-checkbox",
      "type": "checkbox",
      "label":"A Checkbox in Liquid"
    },
    {
      "id":"liquid-number",
      "type": "number",
      "label":"Add a Number"
    }],
    "templates": ["index", "page","product"],
    "presets":[
      {
        "name":"Liquid Refernece",
        "category":"Reference"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}